<!DOCTYPE html>
<html>
<head>
    <title>Activate Your Account</title>
</head>
<body>
    <p>Hello, {{email}}!</p>
    <p>Please activate your account by clicking the link below:</p>
    <a href="{{activationUrl}}">Activate Account</a>
</body>
</html>